{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <label for="moviePicture" style="color: white">Search by Name</label>
        <form class="form-inline md-form mr-auto mb-4">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-warning btn-rounded btn-sm my-0" type="submit">Search</button>
        </form>

        <label for="moviePicture" style="color: white">Search by Cuisine</label>
        <form class="form-inline md-form mr-auto mb-4">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-warning btn-rounded btn-sm my-0" type="submit">Search</button>
        </form>
    </div>
{% endblock %}